/**
 * @file
 * Minimal CSS that applies to every probable implementation.
 */

/* Hide elements that are only for JS. */
.js-isotope-element .js-sort-data,
.js-isotope-grid-sizer,
.js-isotope-gutter-sizer {
  display: none;
}

/* clear fix */
.js-isotope-grid:after {
  content: '';
  display: block;
  clear: both;
}
